{{#if resume.languages.length}}
    <div class="container languages-container">
        {{> title value="Languages"}}

        <ul class="minimal">
            {{#each resume.languages}}
                <li class="language-item">
                    <h6>
                        <span class="language-name">{{language}}</span>
                        {{#if fluency}}<span class="fluency-dots">{{{fluencyDots fluency}}}</span>{{/if}}
                    </h6>
                </li>
            {{/each}}
        </ul>
    </div>
{{/if}}
